/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    max-width: 450px;
  }
}
.btn {
  padding: 1rem 3rem;
  color: white;
  border-radius: 3.2rem;
  background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
}
header {
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 4.8rem auto;
}
@media (max-width:1180px) {
  header {
    width: 100%;
    flex-wrap: wrap;
    margin: 2rem auto;
  }
}
@media (max-width:700px) {
  header {
    max-width: 100%;
  }
}
@media (max-width:500px) {
  header {
    max-width: 100%;
    margin: 1.6rem 0;
  }
}
header .logo {
  display: flex;
  width: 33%;
  color: #333;
  font-size: 1.6rem;
  justify-content: flex-start;
}
@media (max-width:1180px) {
  header .logo {
    width: 50%;
    order: 1;
  }
}
@media (max-width:700px) {
  header .logo {
    width: 50%;
    justify-content: center;
  }
}
@media (max-width:500px) {
  header .logo {
    width: 100%;
  }
}
header .logo h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}
header .nav1 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:1180px) {
  header .nav1 {
    order: 3;
    margin-top: 1rem;
    text-align: center;
    border-top: 2px #333 solid;
    border-bottom: 2px #333 solid;
    padding: 1.6rem 0;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width:500px) {
  header .nav1 {
    margin: 1.6rem auto;
  }
}
header .nav1 a {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  color: #333;
}
header .nav1 a:hover {
  text-decoration: underline;
}
@media (max-width:1180px) {
  header .nav1 a {
    height: 100%;
    padding: 0;
    color: #333;
  }
}
header .nav2 {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width:1180px) {
  header .nav2 {
    width: 50%;
    order: 2;
  }
}
@media (max-width:700px) {
  header .nav2 {
    width: 50%;
    justify-content: center;
  }
}
@media (max-width:500px) {
  header .nav2 {
    width: 100%;
    margin-top: 0;
    justify-content: center;
  }
}
header .nav2 a {
  margin: 0 3.2rem;
  color: #333;
}
@media (max-width:1180px) {
  header .nav2 a {
    margin: 0 1rem;
  }
}
header .nav2 .btn {
  color: white;
  margin-bottom: 0.5em;
  margin-right: 1.6rem;
}
.footer {
  width: 100%;
  background: #DCDCDC;
}
.footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 20px;
}
.home .introduction {
  border-bottom: 2px solid black;
}
.home .introduction .intro-caption {
  padding: 2em 0;
}
.home .introduction h2 {
  margin-top: 0.5em;
}
.home .introduction h4 {
  margin: 0.5em 0;
}
.home .content-section {
  margin: 6em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-section {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width:500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width:500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  flex-direction: row-reverse;
}
@media (max-width:500px) {
  .home .inverse-content {
    flex-direction: column;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width:500px) {
  .home .content-destination {
    width: 100%;
    justify-content: center;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
