.btn{
    padding: 1rem 3rem;
    color: white;
    border-radius: 1.5rem;
    background-image: @mainColor;
    font-weight: 700;
    font-size: 0.8rem;
    &:hover{
        background: @hoverColor;
    }
}