@import "newvariables";
@import "classes";
@import "newmixins";
@import "pedroreset";
@import "nav";
@import "newfooter";

//// HEADING /////

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h1{
        font-size: 3rem;
        margin: 5rem 0;
        @media @bigtablet{
            line-height: 3rem;
            margin: 2rem 0;
        }
    }
}


///// MAIN CONTENT /////
.container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h2{
        font-size: 2rem;
        color: #333;
        @media @tablet{
            background: red;
        }
    }
    button{
        border: none;
        width: 80%;
        background: @mainColor;
        text-align: center;
        padding: 1rem;
        border: 2px whitesmoke solid;
        font-size: 1.2rem;
        border-radius: 0.2rem;
        color: white;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            background: @hoverColor;
        }
        @media @tablet{
            width: 100%;
        }
        @media @phone{
            height: 5rem;
        }
    }
    .accordion-content{
        font-size: 1.1rem;
        width: 80%;
        background: #f3f3f3;
        text-align: start;
        max-height: 0;
        overflow: hidden;
        transition: 0.35s ease-in-out;
        @media @phone{
            width: 100%;
        }
        p{
            padding: 0 1rem;
        }
    }
}


///////////////// CONTACT ////////////////////////
.contact-section{
    display: flex;
    justify-content: space-evenly;
    background: @mainColor;
    border-radius: 5rem 0 5rem 0;
    width: 95%;
    margin: 5rem auto 2rem auto;
    padding-bottom: 2rem;
    max-width: 1550px;
    @media @bigtablet {
        width: 100%;
        border-radius: 0;
    }
    @media @phone{
        margin: 3rem 0;
    }
    .form{
        width: 50%;
        @media @phone{
            width: 100%;
        }
        h2{
            text-align: center;
            color: white;
            font-size: 3rem;
            font-style: uppercase;
            margin: 2rem 0;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            justify-content: center;
            margin: 0 auto;
            @media @phone{
                width: 90%;
            }
            input{
                width: 100%;
                margin: 0.5rem 0;
                padding: 0.5rem 1rem;
                border: 1px #1089ff solid;
                background: white;
                color: black;
                border-radius: 0.2rem;
                &:focus{
                    box-shadow: 0.2rem 0.2rem #1089ff;
                }

            }
            textarea{
                margin: 0.5rem 0;
                width: 100%;
                height: 5rem;
                border: 1px #1089ff solid;
                border-radius: 0.2rem;
                padding: 0.5rem 1rem;
                resize: none;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                &:focus{
                    box-shadow: 0.2rem 0.2rem #1089ff;
                }
            }
            .contactbtn{
                margin-top: 1rem;
                border-radius: 0.2rem;
                align-self: center;
                background-color: transparent;
                background-repeat:no-repeat;
                border: 3px white solid;
                color: white;
                padding: 1rem 5rem;
                cursor:pointer;
                overflow: hidden;  
                font-size: 1rem;
                font-weight: 600;
                @media @phone{
                    width: 100%;
                }
            }
        } 
    }
}



