//VARIABLES 
@mainColor: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
@hoverColor: linear-gradient( 135deg, #3C8CE7 40%, #00EAFF 100%);

@bigtablet: ~"(max-width: 1180px)";
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";